body{
    font-family: 'Oswald', sans-serif;
    background-repeat: no-repeat;
    background-image: linear-gradient(#0f0c29, #302b63, #24243e);
    color: white;
}
.my-name{
    color: rgb(226, 192, 43);
}
h1{
    text-transform: uppercase;

}

h3{
    color: dimgray;
}
section{
    display: flex;
    height: 500px;
    margin-bottom: 150px;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.half-width img{
    width: 100%;
    padding-left: 2%;

}
.working-projects{
    display: flex;
    border: 2px;
    background-image: linear-gradient(#0F2027, #203A43, #2C5364);
    padding-bottom: 20%;

}
.working-projects img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.box{
    
    border-radius: 10px;
    display: flex;
}
#gym{
    
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px rgb(0, 247, 255);
    background-color: aliceblue;
    color: navy;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, yellow, lightgreen);
    border-image-slice: 1;
     
}
#creative{
    
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px rgb(0, 247, 255);
    background-color: aliceblue;
    color: navy;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, purple, tomato);
    border-image-slice: 1;
}
#music{
    
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px rgb(0, 247, 255);
    background-color: aliceblue;
    color: navy;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.menu-bar {
        float: right;
        
}
.option{
        text-decoration: none;
        color:rgb(0, 247, 255);
        
}
li {
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: black;
        font-weight: 700;
        color:rgb(0, 247, 255);
  }
  #outer-box{
    background-image: linear-gradient(#0F2027, #203A43, #2C5364);
      padding: 2%;
      margin: 0;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .container {
    position: relative;
    display: flex;
  }
  .container img {
      margin-top: 5%;
  }
  .text-block {
    
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: block;
  }
  .image-block{

  }
  #mail{
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    text-decoration: none;
  }
  .social{
      display: inline;
      margin: 1%;
      width: 100%;
  }
